.moto-widget.moto-widget-row{"data-widget" => "row"}
  .container-fluid
    .row
      .moto-cell.col-sm-12{"data-container" => "container"}
        .moto-widget.moto-widget-spacer.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-medium.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aama", "data-widget" => "spacer"}
          .moto-widget-spacer-block{:style => "height: 0px;"}
.moto-widget.moto-widget-row.row-fixed{"data-widget" => "row"}
  .container-fluid
    .row
      .moto-cell.col-sm-9{"data-container" => "container"}
        .moto-widget.moto-widget-blog-post_name.moto-preset-default.moto-align-left.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-auto.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aaaa", "data-widget" => "blog.post_name"}
          .moto-widget.moto-widget-text.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-auto.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aaaa", "data-widget" => "text"}
            .moto-widget-text-content.moto-widget-text-editable
              %h1.moto-text_system_7= @post.title
        .moto-widget.moto-widget-row.row-gutter-0{"data-grid-type" => "sm", "data-widget" => "row"}
          .container-fluid
            .row
              .moto-cell.col-sm-3{"data-container" => "container"}
                .moto-widget.moto-widget-blog-post_published_on.moto-preset-default.moto-align-left.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aasa", "data-widget" => "blog.post_published_on"}
                  .moto-text_system_11
                    %span.fa.fa-calendar.moto-widget-blog-post_published_on-icon
                    %span.moto-widget-blog-post_published_on-date= @post.created_at.strftime("%d.%m.%Y")
              .moto-cell.col-sm-9{"data-container" => "container"}
                .moto-widget.moto-widget-blog-post-author.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto.moto-align-left{"data-preset" => "default", "data-spacing" => "aasa", "data-widget" => "blog.post_author"}
                  .moto-text_system_11
                    %span.fa.fa-user.moto-widget-blog-post-author-icon
                    %span.moto-widget-blog-post-author-text Demo User
        .moto-widget.moto-widget-spacer.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-auto.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aaaa", "data-widget" => "spacer"}
          .moto-widget-spacer-block{:style => "height: 10px;"}
        .moto-widget.moto-widget-spacer.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-auto.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aaaa", "data-widget" => "spacer"}
          .moto-widget-spacer-block{:style => "height: 10px;"}
        .moto-widget.moto-widget-blog-post_content.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aasa", "data-widget" => "blog.post_content"}
          %section#section-content.content.page-.moto-section{"data-container" => "section", "data-widget" => "section"}
            .moto-widget.moto-widget-row{"data-widget" => "row"}
              .container-fluid
                .row
                  .moto-cell.col-sm-12{"data-container" => "container"}
                    .moto-widget.moto-widget-text.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aasa", "data-widget" => "text"}
                      .moto-widget-text-content.moto-widget-text-editable
                        %p.moto-text_normal
                          = raw(@post.content)
        .moto-widget.moto-widget-blog-post_comments.moto-preset-default.moto-spacing-top-small.moto-spacing-right-auto.moto-spacing-bottom-large.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "sala", "data-widget" => "blog.post_comments"}
          .moto-widget-empty
          .moto-widget.moto-widget-disqus.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-auto.moto-spacing-left-auto{"data-params" => "{&quot;url&quot;:&quot;@dynamic&quot;,&quot;identifier&quot;:&quot;&quot;,&quot;shortname&quot;:null}", "data-preset" => "default", "data-spacing" => "aaaa", "data-url" => "http://template58608.motopreview.com/blog/overalls-with-logo-as-a-method-of-advertising/", "data-widget" => "disqus"}
            .moto-widget_empty
      .moto-cell.col-sm-3{"data-container" => "container"}
        .moto-widget.moto-widget-blog-recent_posts.moto-preset-default.moto-spacing-top-small.moto-spacing-right-auto.moto-spacing-bottom-large.moto-spacing-left-auto{"data-spacing" => "sala", "data-widget" => "blog.recent_posts"}
          .moto-widget-blog-recent_posts-title
            .moto-widget.moto-widget-text.moto-preset-default.moto-spacing-top-small.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aasa"}
              .moto-widget-text-content.moto-widget-text-editable
                %p.moto-text_system_7 Tin mới
          - recent_posts = Post.where(:active => true, :category_id => @post.category_id).order(:created_at =>'DESC').limit(5)
          - unless recent_posts.blank?
            %ul.moto-widget-blog-recent_posts-list.fix-layout
              - recent_posts.each do |recent_post|
                %li.moto-widget-blog-recent_posts-item
                  .moto-widget-blog-recent_posts-item-preview
                    .moto-widget.moto-widget-image.moto-preset-default.moto-spacing-top-small.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "sasa"}
                      %a.moto-widget-image-link.moto-link{:href => ""}
                        %img.moto-widget-image-picture{:src => recent_post.thumbnail.url(:large)}
                  .moto-widget-blog-recent_posts-item-title.moto-blog-post.moto-blog-post_first.moto-blog-post_odd
                    .moto-widget.moto-widget-text.moto-preset-default.moto-spacing-top-auto.moto-spacing-right-auto.moto-spacing-bottom-small.moto-spacing-left-auto{"data-preset" => "default", "data-spacing" => "aasa"}
                      .moto-widget-text-content.moto-widget-text-editable
                        %h2.blog-post-title.moto-text_system_9
                          %a{:href => post_path(recent_post)}
                            = recent_post.title
